input {
    s3 {
        bucket => "kaparrahdatasets"
        prefix => "global/"
        region => "us-east-1"
    }
}
filter {
    csv {
        separator => ","
        columns => ["ISO_3_CODE", "date_epicrv","NewCase","CumCase","NewDeath","CumDeath","Short_Name_ES"]
        skip_header => true
    }

    mutate { convert => ["NewCase", "integer"]}
    mutate { convert => ["CumCase", "integer"]}
    mutate { convert => ["NewDeath", "integer"]}
    mutate { convert => ["CumDeath", "integer"]}
}

output {
    elasticsearch {
        hosts => "https://c43860fdea8c492e8aa18c6f917cd997.us-east-1.aws.found.io:9243"
        index => "covid-global-data"
        user => "elastic"
        password => "OFgLZvR8LkKDTAuU8PgNPLsx"
    }
    stdout {}
}