input {
    s3 {
        bucket => "kaparrahdatasets"
        prefix => "colombia-test/"
        sincedb_path => "/dev/null"
        region => "us-east-1"
    }
    file {
        path => "/colombia-data-who.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}
filter {
    csv {
        separator => ","
        columns => ["OBJECTID",  "ISO_2_CODE",  "ISO_3_CODE",  "ADM0_NAME",  "date_epicrv",  "NewCase",  "CumCase",  "NewDeath",  "CumDeath",  "Short_Name_ZH",  "Short_Name_FR",  "Short_Name_ES",  "Short_Name_RU",  "Short_Name_AR"]
    }
}

output {
    elasticsearch {
        hosts => "https://c43860fdea8c492e8aa18c6f917cd997.us-east-1.aws.found.io:9243"
        index => "covid-s3"
        user => "elastic"
        password => "OFgLZvR8LkKDTAuU8PgNPLsx"
    }
    stdout {}
}